%html
  %head
    = bootstrap_assets

    %script{ :type => "text/javascript", :src => "javascripts/bootstrap-slider.js" }
    %link{ :rel => "stylesheet", :href => "stylesheets/slider.css", :type => "text/css" }

    :javascript
        $(document).ready(function() {
          $('.slider').slider({
            "min": 1,
            "max": 5,
            "value": 1
          });
        });
  %body
    - container :fluid do
      - span6 do

        %h1 How did it go?
        %p Please rate the talk so I can improve for the next time. If you think I should never ever speak again, click on the emergency button.

        %form{ :action => "/review", :method => "post" }
          %h3 Rating
          %input{ :type => "text", :class => "slider", :name => :rating }
          - row do
            %h3 Comments
            %textarea{ :name => :comments }
          - row do
            %input{:type => "submit", :value => "Send", :class => "btn btn-primary"}
            %input{:type => "submit", :value => "Stop Talking", :name => "stop", :class => "btn btn-danger"}

